# Binaries for programs and plugins
*.exe
*.exe~
*.dylib
*.out
bin/*

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.tar
*.apk
*.ios

# nohup
nohup.*

# Uml
uml/*
!uml/*.mdj

# Vim
*.swp

# Log file
*.log

# Go
*.test

# Java
*.class

# C or C++
*.o
*.a
*.so
*.dll
